@use "../utilities/variable" as *;

.pnpnd-top-level-wrapper {
    .pn-topbar {
        position: sticky;
        top: 0;
        background-color: $white;

        &--border {
            border-bottom: 1px solid $gray-200;
        }
    }
}
