.pnpnd-top-level-wrapper {
  background: transparent;
}
.pnpnd-top-level-wrapper .pnpnd-media {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  gap: var(--pnpnd-space-5);
}
.pnpnd-top-level-wrapper .pnpnd-media--left {
  flex-direction: row-reverse;
}
.pnpnd-top-level-wrapper .pnpnd-media--bottom {
  flex-direction: column;
}
.pnpnd-top-level-wrapper .pnpnd-media--bottom .pnpnd-media__media {
  width: 100%;
}
.pnpnd-top-level-wrapper .pnpnd-media--bottom .pnpnd-media__info {
  width: 100%;
}
.pnpnd-top-level-wrapper .pnpnd-media__media {
  flex: 1;
}
.pnpnd-top-level-wrapper .pnpnd-media__media-content {
  position: relative;
  width: 100%;
  overflow: "hidden";
}
.pnpnd-top-level-wrapper .pnpnd-media__media-content video,
.pnpnd-top-level-wrapper .pnpnd-media__media-content audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pnpnd-top-level-wrapper .pnpnd-media__media-content iframe {
  border: none !important;
}
.pnpnd-top-level-wrapper .pnpnd-media__info {
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-header {
  background-color: var(--pnpnd-primary-light);
  padding: 15px;
  cursor: pointer;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-header-icon--open {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: var(--pnpnd-white, #ffffff);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--list {
  display: flex;
  flex-direction: column;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--grid {
  display: grid;
  gap: 15px;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list--grid-bottom {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-list-item {
  position: relative;
  padding: 10px;
  border-top: 1px solid var(--pnpnd-secondary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-list-item--active {
  background-color: var(--pnpnd-primary-light);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-list-item:hover {
  background-color: var(--pnpnd-primary-extralight);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-list-item-download {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: var(--pnpnd-white, #ffffff);
  color: var(--pnpnd-primary);
  padding: 5px;
  border: 1px solid var(--pnpnd-primary-light);
  border-radius: 8px;
  cursor: pointer;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item {
  position: relative;
  border: 1px solid var(--pnpnd-secondary);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item--active {
  background-color: var(--pnpnd-primary-light);
  box-shadow: inset 0px 0px 0px 2px var(--pnpnd-primary);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item:hover {
  background-color: var(--pnpnd-primary-extralight);
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item-index {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3px var(--pnpnd-space-5);
  background-color: var(--pnpnd-primary);
  color: white;
  border-radius: 8px 0;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item img {
  border-radius: 8px 8px 0 0 !important;
}
.pnpnd-top-level-wrapper .pnpnd-media__info-list-grid-item-download {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: var(--pnpnd-white, #ffffff);
  color: var(--pnpnd-primary);
  padding: 5px;
  border: 1px solid var(--pnpnd-primary-light);
  border-radius: 8px;
  cursor: pointer;
}
.pnpnd-top-level-wrapper .pnpnd-media__info--layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--pnpnd-white, #ffffff) 100%);
  pointer-events: none;
}

/*# sourceMappingURL=media-player.css.map */
