.elementor-widget-container {
    .pnpnd-top-level-wrapper {

        .pnpnd-notice-card-wrapper {

            .pnpnd-icon {
                font-family: eicons !important;

                &.eicon-crown {
                    font-family: "pnpnd-icon" !important;

                    &:before {
                        content: "crown";
                    }
                }
            }
            
            .pnpnd-notice-card-wrapper-buttons {

                .pnpnd-icon {
                    font-family: "pnpnd-icon" !important;
                }
            }
        }
    }
}
